*{margin:0; padding:0;}

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: rgb(51, 51, 51);
	background: #e6e6e6; 
	font-size: 1em;
	line-height: 1.5em;
}

.Container{
 width: 80%;
 max-width: 1000px;
 margin:0 auto;
 overflow: hidden;
}

header {
    width: 100%;
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header .HeaderTitle {
    font-size:50px;
    line-height: 100px;
    float: left;
}

header nav {
    float: right;
    line-height: 100px;
    height: auto;
}

header nav a {
color: #333232;
text-decoration: none;
padding:10px 20px;
font-weight: bold;
border-radius: 50px;
-webkit-transition:all 500ms ease;
-o-transition:all 500ms ease;
transitio:all 500ms ease;
}

header nav a:hover {
 background: rgb(245, 234, 82);
 border-radius: 50px;
}


#ContentImages {

}

#InfoIndet {
display: grid;
grid-template-columns: 2fr 1fr;
}

#Contacto nav{
    padding-top: 18px;
    display: grid;
    grid-template-columns: 0fr 1fr;
}

#Contacto nav a{
    padding-top: 15px;
    padding-left: 20px;
    color: #333232;
    text-decoration: none;
}

#Contacto nav img{
    padding-left: 10px;
    padding-top: 15px;
    height: 50px;
    width: 50px;
}


footer .copyright {
    padding-top: 60px;
    padding-bottom: 10px;
    padding-left: 30px;
    text-align: left;
    font-weight: lighter;
    font-size: 13px;
    line-height: 15px;
}

footer img{
    width: 25px;
    height: 25px;
}

footer .contacto{
    text-align: center;
}

@media screen and (max-width: 650px) {
    header .HeaderTitle{
        width: 100%;
        text-align:center;
        line-height:100px;
    }
    header nav {
        font-size: 20px;
        width: 100%;
        height: 1%;
        text-align:center;
        line-height:100px;
    }
    header {
        width:100%;
        overflow:hidden;
        background: #ffff;
        margin-bottom: 20px;
    }

    #Contacto nav{
        padding-top: 20px;
        display: grid;
        grid-template-columns: 0fr 1fr 0fr 1fr;
    }
}
